/* Estilos generales */
body {
    background-color: black;
    color: yellow;
    font-family: Arial, sans-serif;
}

/* Estilos del menú de navegación */
nav {
    margin: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: cyan;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilo para el encabezado principal */
h1 {
    text-align: center;
    color: yellow;
}
