body {
    background-color: black; 
    color: yellow;
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    text-shadow: 2px 2px 4px #000;
}

section {
    margin: 20px;
}

p, ul, li {
    margin: 10px 0;
}

hr {
    border: 1px solid yellow;
}

blockquote {
    border-left: 4px solid yellow;
    padding-left: 15px;
    color: white;
    font-style: italic;
}

pre, code {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap; /* Preserva los saltos de línea */
    word-wrap: break-word;  /* Evita que las líneas largas se salgan de la pantalla */
}

/* Ajustamos específicamente el estilo de los elementos <code> dentro de <pre> */
pre code {
    display: block;
    white-space: pre;  /* Mantenemos los espacios en blanco */
    overflow-x: auto;  /* Añadimos scroll horizontal si el código es demasiado largo */
    padding: 10px;
    border-radius: 5px;
    background-color: #2b2b2b; /* Color de fondo específico para el código */
    color: #00ff00; /* Cambiamos el color del texto a verde para simular terminal */
}

address {
    font-style: normal;
    color: yellow;
}

a {
    color: cyan;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.strong-textoImportante strong {
    color: cyan;
}

.enfasis em {
    color: red;
}

.resaltado mark {
    background-color: yellow;
    color: black;
}

/* Imagen ASCII de Batman */
.conservar-formato pre {
    font-family: monospace;
    color: lightgray;
    text-align: left;
    overflow-x: auto;
}

.footer {
    background-color: #222;
    padding: 20px;
    text-align: center;
    color: white;
    margin-top: 20px;
}
